@font-face {
  font-family: "Jost-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Jost-Light.woff") format("woff"), url("../fonts/Jost-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Jost-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Jost-Regular.woff") format("woff"), url("../fonts/Jost-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Jost-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Jost-Medium.woff") format("woff"), url("../fonts/Jost-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "CormorantGaramond-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/CormorantGaramond-Medium.woff") format("woff"), url("../fonts/CormorantGaramond-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "CormorantGaramond-SemiBold";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/CormorantGaramond-SemiBold.woff") format("woff"), url("../fonts/CormorantGaramond-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "CormorantGaramond-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/CormorantGaramond-Bold.woff") format("woff"), url("../fonts/CormorantGaramond-Bold.woff2") format("woff2");
}