@font-face {
  font-family: "Jost-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Jost-Light.woff") format("woff"), url("../fonts/Jost-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Jost-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Jost-Regular.woff") format("woff"), url("../fonts/Jost-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Jost-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Jost-Medium.woff") format("woff"), url("../fonts/Jost-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "CormorantGaramond-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/CormorantGaramond-Medium.woff") format("woff"), url("../fonts/CormorantGaramond-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "CormorantGaramond-SemiBold";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/CormorantGaramond-SemiBold.woff") format("woff"), url("../fonts/CormorantGaramond-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "CormorantGaramond-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/CormorantGaramond-Bold.woff") format("woff"), url("../fonts/CormorantGaramond-Bold.woff2") format("woff2");
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 360px;
  font-family: "Jost-Regular";
  font-size: 18px;
  background: #061320;
  color: #ECE7E3;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.container__header {
  max-width: 540px;
  padding: 0;
  margin: 0;
}

.lock {
  overflow-y: hidden;
}

._title {
  font-family: "CormorantGaramond-SemiBold";
  font-size: 112px;
  color: rgba(255, 247, 237, 0.3);
  text-align: left;
  margin-bottom: 60px;
}

._text {
  color: #ECE7E3;
  max-width: 660px;
  margin-bottom: 30px;
  line-height: 40px;
  font-family: "Jost-Light";
}

.show-more {
  color: #939393;
}
.show-more-link {
  position: relative;
}
.show-more-link._arrow {
  padding-left: 60px;
}
.show-more-link._arrow::before {
  position: absolute;
  content: "";
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 9px;
}

.menu {
  overflow-y: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-family: "CormorantGaramond-SemiBold";
  transition: all 0.3s;
  z-index: 2;
}
.menu__contacts {
  position: absolute;
  top: 70px;
  right: 170px;
  font-family: "Jost-Regular";
}
.menu__contacts a {
  font-size: 28px;
}
.menu__contacts-p {
  font-size: 20px;
  text-align: right;
}
.menu__list li {
  margin-bottom: 30px;
  padding-bottom: 9px;
  border-bottom: 1px solid transparent;
}
.menu._active {
  top: 0;
}

.top {
  min-height: 100vh;
  display: flex;
}

.video {
  position: absolute;
  right: 0;
  z-index: -1;
  height: 100%;
}

.header {
  background: #FFF7ED;
  width: 30%;
  min-height: 100vh;
}
.header__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 140px;
}
.header__burger {
  cursor: pointer;
  position: absolute;
  width: 52px;
  height: 52px;
  z-index: 5;
  right: 100px;
  top: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: inline-block;
}
.header__burger::before, .header__burger::after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  transition: all 0.3s;
  left: 12px;
}
.header__burger::before {
  top: 17px;
}
.header__burger::after {
  bottom: 15px;
}
.header__burger span {
  position: absolute;
  border-radius: 2px;
  top: 50%;
  width: 30px;
  background-color: #000;
  height: 2px;
  transition: all 0.3s;
  left: 12px;
}
.header__burger._active {
  background-color: transparent;
}
.header__burger._active span {
  transform: scale(0);
}
.header__burger._active::after {
  transform: rotate(45deg);
  bottom: 26px;
  background-color: #fff;
}
.header__burger._active::before {
  transform: rotate(-45deg);
  top: 24px;
  background-color: #fff;
}
.header__logo {
  color: #000;
  font-family: "CormorantGaramond-SemiBold";
  font-size: 28px;
  position: relative;
}
.header .menu__header {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__menu {
  color: #bababa;
  font-size: 28px;
  font-family: "CormorantGaramond-Medium";
}
.header__menu-link {
  display: inline-block;
}
.header__menu-li {
  margin-bottom: 60px;
}

.main {
  padding-top: 90px;
}

._anim-show {
  transform: translate(-120%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
  opacity: 1;
  transform: translate(0, 0);
}

.about {
  padding-bottom: 100px;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__text {
  display: flex;
}

.rent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rent__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}
.rent img {
  max-width: 100%;
}

.sell-machine {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}
.sell-machine__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sell-machine__img {
  position: relative;
  z-index: 2;
}
.sell-machine img {
  max-width: 100%;
}

.repair {
  padding-bottom: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.repair__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.repair__descr {
  display: flex;
}
.repair__descr ._text {
  max-width: 570px;
}
.repair__feedback-form {
  display: flex;
  margin-bottom: 60px;
}
.repair__feedback-input {
  width: 100%;
  margin-right: 25px;
  padding: 16px 18px;
  border-radius: 100px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #fff;
  font-family: "Jost-Regular";
}
.repair__feedback-input:last-child {
  margin-right: 0;
}
.repair__feedback-btns {
  text-align: right;
}
.repair__feedback-btn {
  background: #FFF7ED;
  color: #000;
  padding: 16px 115px;
  border-radius: 100px;
  font-family: "Jost-Regular";
}

.sell-tea {
  padding-bottom: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sell-tea ._title {
  width: 480px;
}
.sell-tea ._text {
  min-width: 560px;
}
.sell-tea__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sell-tea__img {
  position: relative;
  z-index: 2;
}
.sell-tea img {
  max-width: 100%;
}

.other {
  padding-bottom: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.other__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.other ._text {
  min-width: 570px;
}
.other__img {
  margin-left: 73px;
  position: relative;
  z-index: 2;
}
.other img {
  max-width: 100%;
}

.contacts {
  background: #FFF7ED;
  padding: 145px 0;
}
.contacts ._title {
  color: #061320;
}
.contacts__feedback {
  margin-bottom: 210px;
}
.contacts__feedback-descr {
  color: #061320;
  max-width: 665px;
  margin-bottom: 90px;
}
.contacts__feedback-form {
  display: flex;
  margin-bottom: 60px;
}
.contacts__feedback-input {
  width: 100%;
  margin-right: 25px;
  padding: 16px 18px;
  border-radius: 100px;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: "Jost-Regular";
}
.contacts__feedback-input:last-child {
  margin-right: 0;
}
.contacts__feedback-btns {
  text-align: right;
}
.contacts__feedback-link {
  color: #000;
  margin-right: 103px;
  color: #000;
  margin-right: 103px;
  position: relative;
}
.contacts__feedback-link._arrow {
  padding-left: 60px;
}
.contacts__feedback-link._arrow::before {
  position: absolute;
  content: "";
  background-image: url(../images/arrow-right-black.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 9px;
}
.contacts__feedback-btn {
  padding: 16px 115px;
  cursor: pointer;
  color: #FFF7ED;
  border: none;
  outline: none;
  border-radius: 100px;
  background: #061320;
  font-family: inherit;
  font-size: 18px;
}
.contacts__contacts {
  position: relative;
}
.contacts__contacts-inner {
  display: flex;
  justify-content: space-around;
  color: #000;
}
.contacts__contacts-map {
  margin-right: 15px;
}
.contacts__contacts-descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__contacts-link {
  max-width: 420px;
  position: relative;
  height: 45px;
  font-family: "Jost-Light";
  font-size: 22px;
}
.contacts__contacts-link._phone, .contacts__contacts-link._place, .contacts__contacts-link._clock {
  padding-left: 50px;
}
.contacts__contacts-link._phone::before, .contacts__contacts-link._place::before, .contacts__contacts-link._clock::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  background-size: contain;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.contacts__contacts-link._phone::before {
  background-image: url(../images/phone.svg);
}
.contacts__contacts-link._place::before {
  background-image: url(../images/place.svg);
}
.contacts__contacts-link._clock::before {
  background-image: url(../images/clock.svg);
}
.contacts__contacts-li {
  display: inline-block;
  margin-right: 30px;
}
.contacts__contacts-li:last-child {
  margin-right: 0;
}
.contacts__contacts-anchor {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer {
  background-color: #061320;
  padding: 70px 0;
  color: #FFF7ED;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__menu {
  display: flex;
}
.footer__menu li {
  max-width: 96px;
  margin-right: 60px;
}
.footer__menu li:last-child {
  margin-right: 0;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFF7ED;
  color: #000;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s ease 0s;
  z-index: 10;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__inner-form {
  max-width: 500px;
  background: #fff;
  position: relative;
  padding: 40px 100px;
}
.popup__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 26px;
  right: 26px;
  cursor: pointer;
}
.popup__close::after, .popup__close::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #69766D;
  top: 9px;
  right: -2px;
}
.popup__close::after {
  transform: rotate(45deg);
}
.popup__close::before {
  transform: rotate(-45deg);
}
.popup__body {
  text-align: center;
  font-size: 12px;
}
.popup__title {
  font-family: "CormorantGaramond-SemiBold";
  font-size: 112px;
  margin-bottom: 90px;
}
.popup__text {
  font-size: 18px;
  font-family: "Jost-Regular";
  max-width: 480px;
}


/* Внутренние стили*/

.body-pages{
  min-width: 360px;
  font-family: "Jost-Regular";
  font-size: 18px;
  color: #000;
  background: #FFF7ED;
}

._title-pages {
  font-family: "CormorantGaramond-SemiBold";
  font-size: 48px;
  color: #000;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}

.top {
  background: #061320;
  color: #fff;
  padding-top: 66px;
  margin-bottom: 120px;
}
.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.top__title {
  margin-bottom: 30px;
  font-size: 112px;
  font-family: "CormorantGaramond-SemiBold";
  text-transform: uppercase;
}

.header-pages__inner {
  display: flex;
  align-items: center;
}
.header-pages__logo {
  font-family: "CormorantGaramond-Bold";
  font-size: 28px;
}
.header-pages__menu {
  transform: translateX(23%);
  text-transform: uppercase;
  font-family: "Jost-Regular";
}
.header-pages__contacts {
  display: none;
}
.header-pages__menu-li {
  width: 131px;
  font-size: 18px;
  display: inline-block;
  margin-right: 42px;
}
.header-pages__menu-li:last-child {
  margin-right: 0;
}
.header-pages__burger {
  display: none;
}

._text {
  line-height: 35px;
}

.description {
  padding: 50px 0;
}
.description__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px 20px;
}
.description__grid-item {
  position: relative;
  padding-left: 60px;
}
.description__grid-item::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.description__grid-item._lupa::before {
  background-image: url(../images/lupa.svg);
}
.description__grid-item._card::before {
  background-image: url(../images/card.svg);
}
.description__grid-item._car::before {
  background-image: url(../images/car.svg);
}
.description__grid-item._coffee-machine::before {
  background-image: url(../images/coffee-machine.svg);
}
.description__grid-item._kluch::before {
  background-image: url(../images/kluch.svg);
}
.description__grid-item._sumka::before {
  background-image: url(../images/sumka.svg);
}
.description__grid-title {
  font-family: "Jost-Regular";
  margin-bottom: 20px;
}
.description__grid-text {
  font-family: "Jost-Light";
  font-size: 16px;
}

.advantages {
  padding: 50px 0;
}
.advantages__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px 20px;
}
.advantages__grid-item {
  position: relative;
  padding-left: 40px;
}
.advantages__grid-item::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 36px;
  background-image: url(../images/coffee-seed.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 0;
}

.store {
  padding: 50px 0;
}

.store-swiper {
  display: flex;
  text-align: center;
  margin: 0 auto;
  max-width: 1440px;
}

.partners {
  padding: 50px 0;
}
.partners__img img {
  width: 100%;
}

.slider__descr {
  padding-bottom: 60px;
  font-size: 18px;
}
.slider__descr-p {
  font-family: "Jost-Regular";
  max-width: 775px;
  line-height: 30px;
}
.slider__descr-p span {
  font-family: "Jost-Medium";
}

.slider {
  background: #F8ECDD;
  padding: 90px 0;
  margin-bottom: 140px;
}
.slider__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider__item-descr {
  max-width: 605px;
}
.slider__item-title {
  font-family: "CormorantGaramond-Bold";
  font-size: 48px;
  margin-bottom: 30px;
}
.slider__item-tags {
  margin-bottom: 30px;
}
.slider__item-tag {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  padding-left: 28px;
  font-size: 18px;
  font-family: "Jost-Medium";
}
.slider__item-tag::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url(../images/tag.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__item-tag:last-child {
  margin-right: 0;
}
.slider__item-p {
  font-family: "Jost-Light";
  font-size: 18px;
  margin-bottom: 60px;
  line-height: 35px;
}
.slider__item-btn {
  padding: 6px 80px;
  line-height: 50px;
  font-size: 18px;
  font-family: "Jost-Regular";
  border-radius: 100px;
  border: 1px solid #000;
  display: inline-block;
  height: 62px;
  margin-right: 20px;
}
.slider__item-btn.black {
  color: #FFF7ED;
  background: #061320;
}
.slider__item-btn:last-child {
  margin-right: 0;
}
.slider__item-img img {
  max-width: 100%;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.slider .slick-next {
  right: 0;
}
.slider .slick-next::before,
.slider .slick-prev::before,
.slider .slick-next::after,
.slider .slick-prev::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 2px;
  background: #000;
}
.slider .slick-next::before {
  transform: rotate(45deg);
  right: 0;
  top: 0px;
}
.slider .slick-next::after {
  transform: rotate(-45deg);
  right: 0;
  top: 15px;
}
.slider .slick-prev::before {
  transform: rotate(-45deg);
  right: 0;
  top: 0px;
}
.slider .slick-prev::after {
  transform: rotate(45deg);
  right: 0;
  top: 15px;
}

.steps {
  margin-bottom: 140px;
}
.steps__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 100px;
}
.steps__item {
  padding-top: 120px;
  position: relative;
}
.steps__item:nth-child(1)::before, .steps__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 130px;
  left: 100%;
  background-image: url(../images/arrow-right-black.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.steps__item._call::after, .steps__item._deliv::after, .steps__item._support::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
}
.steps__item._call::after {
  background-image: url(../images/call.svg);
}
.steps__item._deliv::after {
  background-image: url(../images/deliv.svg);
}
.steps__item._support::after {
  background-image: url(../images/support.svg);
}
.steps__item-title {
  font-family: "Jost-Regular";
  margin-bottom: 20px;
}
.steps__item-text {
  font-family: "Jost-Light";
}

.repair-pages {
  margin-bottom: 50px;
}
.repair-pages__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 25px;
  margin-bottom: 50px;
}
.repair-pages__item {
  padding: 25px 0;
  font-family: "Jost-Medium";
}
.repair-pages__item:nth-child(1) {
  border-top: 1px solid #000;
}
.repair-pages__item:nth-child(2) {
  border-top: 1px solid #000;
}
.repair-pages__item:nth-child(3) {
  border-top: 1px solid #000;
}
.repair-pages__item:nth-child(n-3) {
  border-bottom: 1px solid #000;
}
.repair-pages__text {
  position: relative;
  cursor: pointer;
}
.repair-pages__text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  background-image: url(../images/repair-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.repair-pages__hidden {
  position: absolute;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.repair-pages__p {
  line-height: 30px;
}

.rent-pages {
  margin-bottom: 140px;
}
.rent-pages__feedback-form {
  display: flex;
  margin-bottom: 60px;
}
.rent-pages__feedback-input {
  width: 100%;
  margin-right: 25px;
  padding: 16px 18px;
  border-radius: 100px;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: "Jost-Regular";
}
.rent-pages__feedback-input:last-child {
  margin-right: 0;
}
.rent-pages__feedback-btns {
  text-align: right;
}
.rent-pages__feedback-btn {
  padding: 16px 115px;
  cursor: pointer;
  color: #FFF7ED;
  border: none;
  outline: none;
  border-radius: 100px;
  background: #061320;
  font-family: inherit;
  font-size: 18px;
}


.shop__descr {
  font-size: 18px;
  font-family: "Jost-Regular";
}
.shop__descr-p {
  line-height: 30px;
  margin-bottom: 20px;
}
.shop__descr-link {
  color: #939393;
  position: relative;
  padding-left: 60px;
}
.shop__descr-link::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/arrow-right.svg);
}

.shop__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 15px;
}
.shop__items img {
  max-width: 100%;
}

.shop__item-descr {
  font-size: 16px;
}

.block {
  padding: 25px 0;
}
.block__title {
  margin-bottom: 40px;
  font-family: "CormorantGaramond-SemiBold";
  font-size: 48px;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 10px;
}