@media(min-width: 1001px){
    .contacts__link{
        &._phone:hover::before{
            background-image: url(../images/phone-black.svg);
        }
        &._place:hover::before{
            background-image: url(../images/place-black.svg);
        }
        &._clock:hover::before{
            background-image: url(../images/clokc-black.svg);
        }
    }
    .repait__item:hover .repair__hidden{
        opacity: 1;
        visibility: visible;
    }
    .repair__hidden{
        display: block;
    }
}

@media(max-width: 1000px){
    .top{
        margin-bottom: 30px;
        &__title{
            font-size: 47px;
            text-align: center;
        }
        &__text{
            text-align: center;
        }
    }
    .header-pages{
        &__contacts{
            position: relative;
            left: 15px;
            top: 39px;
            display: block;
        }
        &__contacts-link{
            font-size: 18px;
        }
        &__contacts-p{
            text-align: left;
            font-size: 18px;
        }
        &__menu{
            position: absolute;
            top: -100%;
            left: 0;
            transform: translateX(0);
            width: 100%;
            height: 100%;
            background: #061320;
            transition: all .3s;
            &._active{
                top: 0;
            }
        }
        &__menu-list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 130px;
        }
        &__menu li{
            margin-right: 0;
            margin-bottom: 30px;
            text-align: center;
        }
        &__menu li:last-child{
            margin-bottom: 0;
        }
        &__burger{
            cursor: pointer;
            position: absolute;
            width: 52px;
            height: 52px;
            z-index: 5;
            right: 15px;
            display: inline-block;
            &::before, 
            &::after {
                content: "";
                background-color: #fff;
                position: absolute;
                width: 30px;
                height: 2px;
                border-radius: 2px;
                transition: all 0.3s;
                left: 12px;
            }
            &::before{
                top: 17px;
            }
            &::after{
                bottom: 15px;
            }
            span{
                position: absolute;
                border-radius: 2px;
                top: 50%;
                width: 30px;
                background-color: #fff;
                height: 2px;
                transition: all 0.3s;
                left: 12px;
            }
            &._active{
                background-color: transparent;
            }
            &._active span{
                transform: scale(0);
            }
            &._active::after{
                transform: rotate(45deg);
                bottom: 26px;
                background-color: #fff;
            }
            &._active::before{
                transform: rotate(-45deg);
                top: 24px;
                background-color: #fff;
            }
        }
    }
    .slider__descr{
        padding-bottom: 20px;
        &-p{
            max-width: 100%;
        }
    }
    .slider{
        padding: 20px 0 30px;
        .slick-dots{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .slick-dots li{
            background: #000;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            cursor: pointer;
            margin-right: 15px;
        }
        .slick-dots .slick-active{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 14px;
                height: 14px;
                background: rgba(216, 201, 183, 0.7);
                border-radius: 50%;
            }
        }
        .slick-dots li:last-child{
            margin-right: 0;
        }
        .slick-dots button{
            font-size: 0;
            border: none;
            outline: none;
            background: transparent;
        }
    }
    .slider__item{
        flex-direction: column;
        &-descr{
            margin-bottom: 35px;
        }
        &-title{
            margin-bottom: 15px;
        }
        &-tags{
            margin-bottom: 10px;
        }
        &-p{
            margin-bottom: 15px;
        }
        &-btn{
            display: block;
            margin-right: 0;
            margin-bottom: 20px;
            text-align: center;
            padding: 6px 75px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .steps__items{
        display: block;
    }
    .steps__item{
        padding-top: 0;
        padding-left: 100px;
        margin-bottom: 50px;
        &:last-child{
            margin-bottom: 0;
        }
        &::before{
            display: none;
        }
    }
    .repair{
        margin-bottom: 20px;
    }
    .repair__items{
        display: block;
        margin-bottom: 20px;
    }
    .repair__item{
        padding: 15px 0;
        &:nth-child(2){
            border-top: none;
        }
        &:nth-child(3){
            border-top: none;
        }
    }
    .repair__hidden{
        display: none;
    }
    .rent{
        margin-bottom: 50px;
    }
    .rent__feedback-form{
        flex-direction: column;
        margin-bottom: 0;
    }
    .rent__feedback-input{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .rent__feedback-btn{
        display: block;
        max-width: 100%;
        text-align: center;
    }

    .description__grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .description__grid-item{
        padding-left: 0;
        padding-top: 60px;
    }
    .advantages__grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .contacts__feedback-form{
        display: block;
    }
    .contacts__feedback-input{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .contacts__feedback-link{
        display: none;
    }
    .contacts__feedback-btn{
        padding: 16px 83px;
        display: block;
        text-align: center;
    }
    .contacts__contacts-inner{
        flex-direction: column;
        iframe{
            width: 100%;
        }
    }
    .contacts__contacts-map{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .contacts__contacts-descr a{
        max-width: 100%;
        font-size: 16px;
        &._phone,
        &._place,
        &._clock{
            padding-left: 35px;
        }
        &._phone::before,
        &._place::before,
        &._clock::before{
            top: 13px;
            width: 24px;
            height: 24px;
        }
    }
    .contacts__contacts-descr li{
        margin-right: 13px;
    }
    .contacts__contacts-anchor{
        display: none;
    }
    .footer__inner{
        align-items: start;
    }
    .footer__menu{
        display: block;
        font-family: 'Jost-Regular';
        font-size: 16px;
    }
    .footer__menu li{
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}


@media(max-width: 550px){
    .advantages__grid{
        grid-template-columns: 1fr;
    }
}